---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.navbar-brand-logo>img {
  height: 60px;
  width: 75px;
  display: block;
}

// to increase display size of header image for posts
.page__hero--overlay {
    padding: 8em 0;
}

.page {
  padding-right: 100px;
}